.create-view {
  background-image: linear-gradient(to right bottom, $primary-light-1, $primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
  margin: -3.1rem;

  min-height: 100vh;
}

.create-view__content {
  display: flex;
  margin: 0 auto;
  //max-width: 114rem;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 77.5vh;
}

/////////////////////////////////////
// POLL FORM
.create-poll {
  background-color: #fff;
  min-height: 50rem;
  width: 70rem;
  margin: 2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  padding-bottom: 10rem;
}

.create-poll__title {
  background-image: linear-gradient(to bottom right, $primary-light, $primary-dark);
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: #fff
}

.poll-form {
  margin: 0 2rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;

  &__label {
    color: $primary;
    margin-bottom: .3rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: $almost-black;
    background-color: $grey-light;
    border: 1px solid $grey-light-4;
    padding: .7rem .3rem;
    border-radius: 3px;
    margin-bottom: 2rem;
    width: 100%;
  
    &::placeholder {
      color: #777;
    }
  }

  &__answers {
    &:last-child {
      margin-bottom: 1.5rem;
    }
  }

  &__answer {
    color: $almost-black;
    padding-left: .2rem;
    font-size: 1.4rem;
  }
}

.fa-trash-alt {
  cursor: pointer;
  color: $primary;
  font-size: 1.2rem;
  margin-left: 2px;
  
  &:hover {
    animation: wiggle .5s infinite;
  }
}

.poll-form__main-buttons-box {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 7rem;
  width: 100%;
}

.poll-form {
  &__cancel {
    cursor: pointer;
    line-height: 8rem;
    background-color: $grey-dark-2;
    color: rgb(131, 131, 131);
    width: 25%;
    font-size: 2rem;
  }

  &__submit {
    cursor: pointer;
    line-height: 8rem;
    background-image: linear-gradient(to bottom right, $primary-light, $primary-dark);
    color: $white;
    width: 75%;
    font-size: 2rem;
  }
  
  &__main-button-text--1 {
    position: absolute;
    left: 3.5rem;

  }
  &__main-button-text--2 {
    position: absolute;
    right: 3.5rem;
    color: #fff;
  }
}

/////////////////////////////////////
// QUESTION LIST
.questions{
  background-color: #fff;
  margin: 2rem;
  width: 40rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  border-radius: 3px;
  overflow: hidden;

  &-list {
    &__list {
      margin: 0 3rem 3rem 3rem;
      font-size: 1.4rem;
    }

    &__question {
      color: $primary;

      &-title {
        background-image: linear-gradient(to right, $primary, $primary-dark);
        -webkit-background-clip: text; 
        color: transparent;
        
      }
    }

    &__answers {
      padding-left: 1rem;
      color: $grey-dark;
      font-size: 1.2rem;
      list-style-type: disc;
    }

    &__answer {

    }
  }
}


