.create-view {
  background-image: linear-gradient(to right bottom, $primary-light-1, $primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1px;
  margin: -3.1rem;

  min-height: 100vh;
}

.create-view__content {
  display: flex;
  margin: 0 auto;
  //max-width: 114rem;
  justify-content: space-evenly;
  min-height: 77.5vh;
}

.create-poll {
  background-color: #fff;
  height: 50rem;
  width: 70rem;
  margin: 2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  border-radius: 3px;
}

.questions{
  background-color: #fff;
  margin: 2rem;
  width: 40rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
  border-radius: 3px;
}