// #dashboard>*:last-child {
//   border: 3px dotted green;
// }
// .dash-nav>* {
//   border: 3px dotted blue;
// }
// .dash-nav>div:last-child>* {
//   border: 3px dotted purple;
// }
// #polls-filter {
//   border: 3px dotted blue;
// }
// #polls-filter button {
//   // border: 3px dotted purple;
// }


@mixin button-style {
  cursor: pointer;
  color: $grey-dark;
  text-transform: uppercase;
  background-color: $grey-light;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  font-size: $default-font-size;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  letter-spacing: .3em;
  transition: 2s;
}

#dashboard {
  // position: absolute;
  // margin: 1em;
  padding: 0;
  height: 90vh;
  overflow: hidden;
  background: linear-gradient(to right bottom, rgba($primary-light, .7), rgba($primary-dark, .7)), url("/images/dashboard_bg.jpg");
  padding: 2%;
  display: flex;
  flex-direction: column;
  .dash-nav {
    display: flex;
    flex-direction: row;
    .dash-logo {
      flex: 1;
      img {
        width: 35px;
        height: 35px;
      }
    }
    .dash-header {
      flex: 20;
      h1 {
        color: $white;
        letter-spacing: 1.2rem;
        cursor: default;
        text-align: center;
        text-transform: uppercase;
      }
    }
    #dashboard-nav {
      flex: 8;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      >* {
        align-self: center;
        button {
          @include button-style();
          // float: right;
          &:hover {
            box-shadow: 0 1rem 1.5rem rgba($black, .2);
          }
          &:active {
            box-shadow: 0 .5rem 1rem rgba($black, .15);
            transform: translateY(0);
          }
        }
      }
    }
  }
}

#polls-filter button {
  @include button-style();
  font-size: $default-font-size * .7;
  padding: 1.1em;
  margin: 1.5em;
  &:hover {
    box-shadow: 0 .5rem .75rem rgba($black, .2);
    transition: 2s;
  }
  &:active {
    box-shadow: 0 .5rem 1rem rgba($black, .15);
    transform: translateY(0);
    transition: 2s;
  }
}

#dashboard input {
  width: 35%;
  font-size:  $default-font-size;
  background-color: $grey-light;
  text-transform: uppercase;
  padding: .2em;
  margin: 1em;
  text-align: center;
  letter-spacing: .15em;
}

// POLLS STYLING

// #polls-container>* {
//   border: 3px dotted purple;
// }

#dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#polls-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#filtered-polls {
  height: 50%;
  width: 100%;
  overflow-y: auto;
  // padding-right: 20px;

  // overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // flex-basis: 20%;
}



.poll-item {
  // flex: 1;
  padding: 2em;
  margin: 2em;
  width: 30%;
  background: linear-gradient(to right bottom, rgba($grey-light, .2), rgba($primary-light, .1));
  box-shadow: 0 1rem 1.5rem rgba($black, .2);
  button {
    @include button-style();
    padding: .8em;
    margin: .2em;
    font-size: $default-font-size * .6;
    letter-spacing: 0;
    color: $primary;
    a {
      text-decoration: none;
      color: $primary;
    }
  }
}

.dashboard-options, .dashboard-options-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-options-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}










/*#dashboard {
  background: url("./tic-tac-toe.png") $redder;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .nav {
    font-family: 'Courgette', cursive;
    display: flex;
    width: 100%;
    flex-direction: row;
    // align-items: center;
    padding: 2em;
    background-color: rgba($red, .7);
    div {
      flex: 6;
    }
    h1 {
      font-size: 3em;
      color: white;
    }
  }
}

#dashboard-nav {
  float: right;
  flex: 1;
  button {
    float: right;
    margin: 10px;
  }
}

#polls-filter {
  background-color: rgba($red, .7);
  padding: 10px;
  .button {
    margin: 10px;
  }
}

#polls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  // align-items: flex-start;
  // justify-content: flex-start;
  background-color: rgba($red, .7);
  text-align: center;
  box-shadow: 2px 1px 2px 2px rgba($black, .5);
  overflow: scroll;
}

.poll-item {
  flex: 1;
  max-width: 30%;
  margin: 1em;
  padding: 1em;
  background-color: rgba(white, .7);
  h1 {
    display: inline;
  }
  button {
    float: right;
  }
}

.response-url {
  // word-wrap: break-word;
  display: block;
}
*/