// #dashboard>*:last-child {
//   border: 3px dotted green;
// }
// .dash-nav>* {
//   border: 3px dotted blue;
// }
// .dash-nav>div:last-child>* {
//   border: 3px dotted purple;
// }
// #polls-filter {
//   border: 3px dotted blue;
// }
// #polls-filter button {
//   // border: 3px dotted purple;
// }


@mixin button-style {
  cursor: pointer;
  color: $grey-dark;
  text-transform: uppercase;
  background-color: $grey-light;
  text-decoration: none;
  padding: 1em;
  margin: 1em;
  font-size: $default-font-size;
  display: inline-block;
  transition: all .2s;
  position: relative;
  letter-spacing: .3em;
  transition: 2s;
}

#polls-container {
  min-height: 10rem;
}

// #filtered-polls {
//   min-height: 10rem;
// }

.no-polls-message {
  top: 3%;
  left: 5%;
  color: $red;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 2.5rem;
  text-align: center;
}

.input-menu {
  text-align: center;
  border-bottom: 1px solid $grey-light-4;
}

.input-buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.filter-input {
  margin: 0 auto;
  font-family: inherit;
  font-size: 1.2rem;
  color: $almost-black;
  background-color: $grey-light-2;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  min-width: 30rem;
  max-width: 90rem;
  transition: all .2s;
  margin: 1.5rem -3.25rem 1.5rem 0rem;

  &:focus {
    outline: none;
    transform: scaleX(1.1);
    background-color: $grey-light-3;
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  &::-webkit-input-placeholder {
    color: $grey;
  }
}


.welcome-message {
  font-size: 1.4rem;
  font-weight: 400;
  color: transparent;
  background-image: linear-gradient(to right, $primary-light, $primary-dark);
  -webkit-background-clip: text; // will clip the background to exactly the places where the text sits
  background-clip: text;
//  letter-spacing: 1.4rem;
  margin: 1rem;
  margin-left: 2rem;
}


.brand {
  margin-left: 2rem;
  display: flex;
  align-content: center;

  &__logo {
    height: 3rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-left: 1rem;
    
    display: inline-block;
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

circle {
  fill: $primary-dark;
  stroke: $white;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  animation: rotate 2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite, change-color 4s 0.7s linear infinite;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 500;
  }
}

@keyframes change-color {
  49% {
    stroke: $red;
  }

  50% {
    stroke: yellow;
  }

  99% {
    stroke: yellow;
  }

  100% {
    stroke: $red;
  }
}

.loader-rotate {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


::-webkit-scrollbar {
  width: 0 !important;
}

#filtered-polls {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 10rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.dashboard-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $grey-light-3;
  width: 100%;
  margin-bottom: 1rem;
}

.response-url {
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.dashboard-options-group {
  width:100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ReactModal__Content--after-open {
  height: 50%;
  background: $red;
  color: $white;
}

.poll-item-title {
  width: 100%;
  background-color: $primary;
  font-size: 1.6rem;
}

.poll-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  width: 35rem;
  border-radius: 3px;
  overflow: hidden;
  
  background: linear-gradient(to right bottom, rgba($grey-light, 0), rgba($grey-light, .1));
  box-shadow: 0 1rem 1.5rem rgba($black, .2);
  }

  h1 {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 .2rem .5rem rgba($black, .2);
  }

  .add-poll-button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    color: $primary-dark;
    font-size: 2.7em;
    vertical-align: center;
    text-align: center;
  }

  .questions-box {
    margin: 1rem;
    &__question {
      background-image: linear-gradient(to right, $primary, $primary-dark);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 1.4rem;
    }

    &__question-number {
      font-size: 1.4rem;
      color: $primary-dark;
    }
  }


.email-link {
  &:link, &:visited {
    text-decoration: none;
    color: $primary;
  }

}