#dashboard>* {
  border: 3px dotted green;
}
.dash-nav>* {
  border: 3px dotted blue;
}
.dash-nav>div:last-child>* {
  border: 3px dotted purple;
}


#dashboard {
  // background: url("./images/dashboard_bg.jpg");
  background: linear-gradient(to right bottom, rgba($primary-light, .7), rgba($primary-dark, .7)), url("/images/dashboard_bg.jpg");
  padding: 2%;
  display: flex;
  flex-direction: column;

  .dash-nav {
    display: flex;
    flex-direction: row;
    // height: auto;
    // min-height: 100%;
    .dash-logo {
      flex: 1;
      img {

        width: 35px;
        height: 35px;
      }
    }
    .dash-header {
      flex: 20;
      h1 {
        color: $white;
        letter-spacing: 1.2rem;
        cursor: default;
        text-align: center;
      }
    }
    #dashboard-nav {
      flex: 8;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      
      >* {
        align-self: center;
        button {
          cursor: pointer;
          text-transform: uppercase;
          background-color: $grey-light;
          text-decoration: none;
          padding: 1em;
          margin: 1em;
          display: inline-block;
          border-radius: 10rem;
          transition: all .2s;
          position: relative;
          font-size: $default-font-size;
          letter-spacing: .3rem;
        }
      }
    }
  }
}






/*#dashboard {
  background: url("./tic-tac-toe.png") $redder;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .nav {
    font-family: 'Courgette', cursive;
    display: flex;
    width: 100%;
    flex-direction: row;
    // align-items: center;
    padding: 2em;
    background-color: rgba($red, .7);
    div {
      flex: 6;
    }
    h1 {
      font-size: 3em;
      color: white;
    }
  }
}

#dashboard-nav {
  float: right;
  flex: 1;
  button {
    float: right;
    margin: 10px;
  }
}

#polls-filter {
  background-color: rgba($red, .7);
  padding: 10px;
  .button {
    margin: 10px;
  }
}

#polls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  // align-items: flex-start;
  // justify-content: flex-start;
  background-color: rgba($red, .7);
  text-align: center;
  box-shadow: 2px 1px 2px 2px rgba($black, .5);
  overflow: scroll;
}

.poll-item {
  flex: 1;
  max-width: 30%;
  margin: 1em;
  padding: 1em;
  background-color: rgba(white, .7);
  h1 {
    display: inline;
  }
  button {
    float: right;
  }
}

.response-url {
  // word-wrap: break-word;
  display: block;
}
*/