
.live-view {
  &__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    min-height: 90vh;
    padding-bottom: 3rem;
  }

  &__poll-title {
    font-size: 2.5rem;
    font-weight: 400;
    display: inline-block;
    // THE BELOW 3 LINES CREATE THE EFFECT OF MAKING THE TEXT BE IN A GRADIENT COLOR
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    -webkit-background-clip: text; // will clip the background to exactly the places where the text sits
    background-clip: text;
    color: transparent;
  
    letter-spacing: .2rem;
    transition: all .2s;
  
    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($black, .2); // first is x-direction, 2nd is y, 3rd is blur
    }
  }

  &__question-box {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0 auto 2rem auto;
    max-width: 75rem; 
    text-align: left;
    padding: 1rem 2rem;
  }

  &__question-title {
    color: $primary;
    font-size: 1.6rem;
  }

  &__answers-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__answers-list {
    padding: .5rem 0 0 1.6rem;
    color: $grey-dark-2;
    font-size: 1.3rem;
    width: 60%;
  }
  
  &__answer {
    line-height: 1.6rem;
    margin-bottom: .5rem;
  }
}  

#nextQuestionButton, #closeQuestionButton {
  flex-shrink: 0;
  margin: .5rem 0 .5rem 1rem;
}

.results-bar {
  width: 0%;
  transition: width 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: $red;
  color: #fff;
}

// LOADING CIRCLE 
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

circle {
  fill: white;
  stroke: $red;
  stroke-width: 4;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  animation: rotate 2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite, change-color 4s 0.7s linear infinite;
}

@keyframes rotate {
  to {
    stroke-dashoffset: 500;
  }
}

@keyframes change-color {
  49% {
    stroke: $red;
  }

  50% {
    stroke: $yellow;
  }

  99% {
    stroke: $yellow;
  }

  100% {
    stroke: $red;
  }
}

.loader-rotate {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
