#auth-container {
  height: 90vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      list-style-type: none;
    }
    li button {
      @include button-style();
      height: 150px;
      width: 600px;
      margin: 1em;
      background: linear-gradient(to right bottom, rgba($primary-light, .7), rgba($primary-dark, .7)), url("/images/dashboard_bg.jpg");
      img {
        width: 2em;
      }
    }
  }
}

#firebaseui-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  span {
    display: block;
    font-size: $default-font-size * 2 !important;
    font-family: 'Lato';
    color: $grey-light;
  }
}

// #firebaseui-auth-container {
//   background: url("./tic-tac-toe.png") $redder;
//   width: 100vw;
// }

.firebaseui-idp-text-short {
  visibility: hidden;
}