/* PALETTE */

/* HSL */
$color1: hsla(0%, 0%, 92%, 1);
$color2: hsla(354%, 68%, 41%, 1);
$color3: hsla(353%, 75%, 24%, 1);
$color4: hsla(348%, 87%, 12%, 1);
$color5: hsla(334%, 100%, 3%, 1);

/* RGB */
$white: rgba(234, 234, 234, 1);
$red: rgba(176, 33, 47, 1);
$redder: rgba(107, 15, 26, 1);
$darkred: rgba(56, 4, 14, 1);
$black: rgba(16, 0, 7, 1);