#dashboard {
    background-color: $red;
    display: flex;
    flex-direction: column;
}

.nav {
    display: block;
    padding-bottom: 2em;
}

#polls-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}