#dashboard {
  background: url("./tic-tac-toe.png") $redder;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  .nav {
    font-family: 'Courgette', cursive;
    display: flex;
    width: 100%;
    flex-direction: row;
    // align-items: center;
    padding: 2em;
    background-color: rgba($red, .7);
    div {
      flex: 6;
    }
    h1 {
      font-size: 3em;
      color: white;
    }
  }
}

#dashboard-nav {
  float: right;
  flex: 1;
  button {
    float: right;
    margin: 10px;
  }
}

#polls-filter {
  background-color: rgba($red, .7);
  padding: 10px;
  .button {
    margin: 10px;
  }
}

#polls-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  // align-items: flex-start;
  // justify-content: flex-start;
  background-color: rgba($red, .7);
  text-align: center;
  box-shadow: 2px 1px 2px 2px rgba($black, .5);
  overflow: scroll;
}

.poll-item {
  flex: 1;
  max-width: 30%;
  margin: 1em;
  padding: 1em;
  background-color: rgba(white, .7);
  h1 {
    display: inline;
  }
  button {
    float: right;
  }
}

.response-url {
  // word-wrap: break-word;
  display: block;
}