#poll-dist {
  background: url("./tic-tac-toe.png") $redder;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &>div {
    padding: 20px;
    background-color: rgba($redder, .7);
    border-radius: 5px;
    // box-shadow: 0 0 10px 20px $redder;
  }
  button {
    float: right;
  }
  .title {
    color: #ffffff;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .results {
    margin-top: 20px;
  }

  .poll-dist-class {
    min-width: 400px;
  }

}

#poll-hr {
  color: $red;
  border-color: $red;
  background-color: $red;
  height: 1px; border: 0;
  padding: 1px;
}